@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Nunito:wght@700&family=Permanent+Marker&family=Roboto+Mono:ital@1&family=Rubik+Mono+One&display=swap');
* {
  margin: none;
  padding: none;
}

.App {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #E2E2E2;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.gonner-logo {
  width: 80vw;
  max-width: 750px;
  height: auto;
  margin: 15vh 0 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.landing h4 {
  color: #B22727;
  margin: 100px 0 50px 0;
  width: 50vw;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

.login-forms {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 0 30px 0;
}

.register,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  margin: 20px;

  color: #B22727;
  background-color: #b2272722;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;

  font-family: 'Rubik Mono One', sans-serif;
  
}

.register h1 {
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms button {
  margin: 20px 0;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.home-banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90vw;
  /* min-width: 690px; */
  height: 30vh;
  min-height: 350px;

  max-width: 1175px;
  background-color: #B22727;
  box-shadow: 10px 5px 5px 	#c5c5c5;
  border-radius: 5px;

  margin: 30px 0 0 0;
}



.banner-text {
  align-self: flex-start;
  color: white;
  margin: 15px 0 0 30px;
}

.gonner-logo-home {
  width: 80vw;
  max-width: 400px;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 50px 0 0 0;
}

.create-movie {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-list {
  padding: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1.5em 2em;
  justify-content: center;
}

.movie-card {
  width: 325px;
  height: 500px;

  background-color: #F8F8F8;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 10px 5px 5px 	#c5c5c5;
}


.movie-card:hover,
.home-banner:hover,
.add-movie-section:hover {
  cursor: pointer;
  animation: zoom .1s linear forwards;
}


@keyframes zoom {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.01);
  }
}

@keyframes zoom2 {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.08);
  }
}

.create {
  margin-top: 0;
}

.movie-card-image {
  height: 420px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  overflow: hidden;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
  
}


.movie-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.movie-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-banner {
  display: grid;
  grid-template-columns: 1fr 2fr;

  width: 690px;
  height: 300px;

  background-color: #F8F8F8;
  box-shadow: 10px 5px 5px 	#c5c5c5;
  border-radius: 5px;

  margin: 30px 0 0 0;
}

.movie-banner h1 {
  color: #B22727;
  font-size: 2.5em;
}

.movie-page-info_image {
  height: 250px;
  width: auto;
  border-radius: 5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.movie-page-info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 0 ;
}



.movie-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* ------ Movie Page -------- */

.cast-section,
.guessList,
.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 325px;
  min-height: 30vh;

  background-color: #B22727;
  box-shadow: 10px 5px 5px 	#D8DADB;
  border-radius: 5px;
}

.movie-page-info_text h1,
.cast-section h2,
.scoreboard h2,
.guessList h2,
.guessList h3,
.banner-text {
  font-family: 'Rubik Mono One', sans-serif;
}

.cast-section h2,
.scoreboard h2 {
  color: white;
  font-size: 2em;
}

.guessList h4 {
  color: black;
}

.guessList {
  background-color: #787C85;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.scoreboard {
  padding: 0 0 40px 0;
}

.cast,
.character,
.leader {
  display: flex;
  justify-content: space-around;

  margin: 10px 0 0 0;

  width: 25vw;
  min-width: 250px;
  max-width: 270px;

  background-color: white;
  border-radius: 5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.leader {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

.landing-buttons button,
.register-button,
.login-button,
.add-movie-section button,
.create-movie-button {
  margin: 20px;
  height: 30px;
  width: 120px;

  /* border: 2px #B22727 solid;
  border-radius: 5px;
  background-color: white; */
  color: #B22727;
  border-style: none;


  font-family: 'Rubik Mono One', sans-serif;
}

.learn-to-play {
  margin: 30px 60px 30px 0;
  align-self: end;
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
}

.register-button,
.login-button {
  background-color: #b2272700;
}

.cast:hover,
.character:hover,
.cast-section:hover,
.guessList:hover,
.add-list-section:hover,
.movie-card-image:hover,
.home-banner:hover,
.leader:hover {
    cursor: pointer;
    animation: zoom .1s linear forwards;
    
}




.cast button:hover,
.cast button:hover,
.character button:hover,
.remove-list:hover,
.add-list:hover,
.landing-buttons button:hover,
.register-button:hover,
.login-button:hover,
.create-movie-button:hover,
input:hover  {
  cursor: pointer;
  animation: zoom2 .1s linear forwards;
}

.landing-buttons button:hover,
.register-button:hover,
.login-button:hover,
.add-movie-section button:hover,
.create-movie-button:hover {
  background-color: #B22727;
  color: white;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}



.cast,
.character,
.scoreboard h4 {
  font-family: 'Permanent Marker', cursive;
}


.character-buttons,
.cast-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cast-button-container {
  display: flex;
  align-items: center;
}

.cast button,
.character button {
  border: none;
  height: 30px;
  border-radius: 5px;
  margin: 0 3px
}

.character button,
.cast button {
  margin: 3px;
  height: 20px;
}

#delete {
  height: 45px;
  color: #B22727;
}

#delete:hover {
  color: white;
  background-color: #B22727;
}

.gonner-button {
  background-color: #B22727;
  color: white;
  transform: scale(1.08);
}

.survivor-button {
  background-color: #007f61;
  color: white;
  transform: scale(1.08);
}

.createList,
.movie-banner-rapper {
  display: flex;
  justify-content: center;
}

.add-list-section,
.add-movie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0 0 12px 0;

  width: 690px;
  
  
  background-color: #D8DADB;
  box-shadow: 10px 5px 5px 	#c5c5c5;
  border-radius: 5px;
}

.add-list-section {
  background-color: #F8F8F8;
}

.add-movie-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  margin: 20px 0 0 0;
  background-color: #F8F8F8;
}

.add-list {
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  margin: 30px 0
}

.guess-list-section {
  padding: .5em 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2.5em;
  justify-content: center;
  max-width: 730px;
}

.cast-score-wrapper {
  display: flex;
  justify-content: center;
}


.cast-score{
  display: flex;
}

@media only screen and (max-width: 695px) {
  .cast-score {
    flex-direction: column;
  }

  .add-list-section {
    width: 320px;
  }

  .home-banner,
  .add-movie-section {
    width: 325px;
  }

  .movie-banner {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 15px;

  }
}
.cast-section,
.scoreboard {
  margin: 20px
}

@media only screen and (max-width: 1050px) {
  .home-banner {
    width: 80vw;
    max-width: 850px;
  }
}

.character {
  display: flex;
  flex-direction: row;
}

.remove-list {
  border: none;
  height: 30px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin: 20px;
}

input {
  margin: 10px;
  padding:10px;
  border:0;
  border-radius: 5px;
  background-color: white;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

#create-movie-button {
  margin: 10px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}